.disclaimer{
    padding: 10%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.logo2{
    width: 20%;
    height: auto;
}

.textInfoDisc{
    width: 50rem;
    height: auto;
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    overflow-wrap: break-word;
    font-size: 25px;
    border-radius: 5px;
    margin: auto;
    font-weight: 600;
    text-align: center;
}